---
import "@/styles/global.css";
import { marked } from "marked";

import Layout from "@/layouts/Layout.astro";
import content from "@/content/pages/home.json";
import { Button } from "@/components/ui/button";
import { LoginDialog } from "@/components/LoginDialog.tsx";

const { body, disclaimer } = content;
const buttonStyle =
  "flex sm:text-3xl text-xl font-bold rounded-lg sm:p-8 font-display p-6 max-w-fit";

const user = !!Astro.locals.user;
---

<Layout title="The Veteran Culture Project" isLandingPage={true}>
  <main class="flex flex-col flex-1 container mx-auto justify-center px-4">
    <article
      class="container mx-auto prose prose-headings:font-display md:prose-xl dark:prose-invert py-6 prose-headings:font-light prose-zinc"
      set:html={marked.parse(body)}
    />
    <div class="flex flex-col m-12 justify-center items-center">
      <div class={`${user ? "hidden" : "flex"}`}>
        <LoginDialog
          buttonText="TAKE THE SURVEY"
          buttonStyle={buttonStyle}
          client:load
        />
      </div>
      <div class={`${user ? "flex" : "hidden"}`}>
        <Button className={buttonStyle}>
          <a class="flex" href="/survey">TAKE THE SURVEY</a>
        </Button>
      </div>
      <div class="flex justify-center">
        <p class="flex p-8 text-center italic max-w-prose">
          {disclaimer}
        </p>
      </div>
    </div>
  </main>
</Layout>
